@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --radius: 0.5rem;
    --sidebar-background: 0 0% 98%;
    --sidebar-foreground: 240 5.3% 26.1%;
    --sidebar-primary: 240 5.9% 10%;
    --sidebar-primary-foreground: 0 0% 98%;
    --sidebar-accent: 240 4.8% 95.9%;
    --sidebar-accent-foreground: 240 5.9% 10%;
    --sidebar-border: 220 13% 91%;
    --sidebar-ring: 217.2 91.2% 59.8%;
  }
  .dark {
    --sidebar-background: 240 5.9% 10%;
    --sidebar-foreground: 240 4.8% 95.9%;
    --sidebar-primary: 224.3 76.3% 48%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 240 3.7% 15.9%;
    --sidebar-accent-foreground: 240 4.8% 95.9%;
    --sidebar-border: 240 3.7% 15.9%;
    --sidebar-ring: 217.2 91.2% 59.8%;
  }
}

::-webkit-scrollbar {
  width: 0.5rem;
}

@layer utilities {
  .heading {
    @apply uppercase bg-black/75 rounded-2xl px-6 py-3 font-work-sans font-extrabold text-white sm:text-[54px] sm:leading-[64px] text-[32px] leading-[38px] md:max-w-5xl text-center my-5;
  }

  .sub-heading {
    @apply w-full font-semibold text-[1.4rem] text-slate-300 max-w-2xl text-center mx-auto capitalize break-words;
  }

  .flex-between {
    @apply flex justify-between items-center;
  }

  .pattern {
    background-image: linear-gradient(
      to right,
      transparent 49.5%,
      rgba(67, 183, 251, 0.2) 49.5%,
      rgba(67, 239, 251, 0.6) 50.5%,
      transparent 50.5%
    );
    background-size: 5% 100%;
    background-position: center;
    background-repeat: repeat-x;
  }

  .blue_container {
    @apply w-full bg-primary min-h-[275px] md:max-h-[530px] md:min-h-[530px] pattern flex justify-center items-center flex-col py-10 px-4 md:px-6;
  }

  .contact_container,
  .about_container {
    @apply w-full flex flex-col;
  }

  .bg-swirl-pattern {
    background-image: url("/multi-color-swirl.webp");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

  .bg-contact {
    background-image: url("/contact-image.webp");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

  .sign-out_container {
    @apply w-full bg-swirl-pattern min-h-screen pattern flex justify-center items-center flex-col py-10 px-6;
  }

  /* searchform */
  .search-form {
    @apply max-w-3xl w-full min-h-[4rem] bg-white border-[0.2rem] border-black rounded-[80px] text-[24px] mt-8 px-5 flex flex-row items-center gap-5;
  }

  .search-input {
    @apply flex-1 font-bold placeholder:font-normal placeholder:text-black/80 w-full h-auto outline-none;
  }

  .search-btn {
    @apply size-[2.5rem] rounded-full bg-black hover:text-cyan-600 transition duration-200 flex justify-center items-center !important;
  }

  .section_container {
    @apply px-6 pt-16 pb-24 max-w-7xl mx-auto;
  }

  .card_grid {
    @apply grid md:grid-cols-3 sm:grid-cols-2 gap-5;
  }

  .card_grid-sm {
    @apply grid sm:grid-cols-2 gap-5;
  }

  .no-result {
    @apply text-black-100 text-sm font-normal;
  }

  .text-30-extrabold {
    @apply text-[30px] font-extrabold text-white;
  }

  .text-30-bold {
    @apply text-[30px] font-bold text-black;
  }

  .text-30-semibold {
    @apply font-semibold text-[30px] text-black;
  }

  .text-26-semibold {
    @apply font-semibold text-[26px] text-black;
  }

  .text-24-black {
    @apply text-[24px] font-black text-black;
  }

  .text-20-medium {
    @apply font-medium text-[20px] text-black;
  }

  .text-16-medium {
    @apply font-medium text-[16px] text-black;
  }

  .text-14-normal {
    @apply font-normal text-sm text-white-100/80;
  }

  .tag {
    @apply bg-orange-200 px-6 py-3 font-work-sans font-bold rounded-sm uppercase relative tag-tri;
  }

  .tag-mobile {
    @apply bg-orange-200 px-6 py-3 font-work-sans text-sm w-[15rem] text-center font-bold rounded-sm uppercase relative tag-tri;
  }

  /* profile */
  .profile_container {
    @apply w-full pb-10 pt-32 px-6 max-w-7xl mx-auto lg:flex-row flex-col flex gap-10;
  }

  .profile_card {
    @apply w-80 px-6 pb-12 pt-20 flex flex-col justify-center items-center bg-primary border-[5px] border-black shadow-100 rounded-[30px] relative z-0 h-fit max-lg:w-full;
  }

  .profile_title {
    @apply w-11/12 bg-cyan-500 border-[5px] border-black rounded-[20px] px-5 py-3 absolute -top-9 after:absolute after:content-[''] after:-top-1 after:right-0 after:-skew-y-6 after:bg-black after:-z-[1] after:rounded-[20px] after:w-full after:h-[60px] before:absolute before:content-[''] before:-bottom-1 before:left-0  before:-skew-y-6 before:w-full before:h-[60px] before:bg-black  before:-z-[1] before:rounded-[20px] shadow-100;
  }

  .profile_image {
    @apply rounded-full object-cover border-[3px] border-black;
  }

  /* idea details */
  .divider {
    @apply border-dotted bg-zinc-400 max-w-4xl my-10 mx-auto;
  }

  .view_skeleton {
    @apply bg-zinc-400 h-10 w-24 rounded-lg fixed bottom-3 right-3;
  }

  /* navbar */
  .avatar {
    @apply p-0 focus-visible:ring-0 bg-none rounded-full drop-shadow-md !important;
  }

  .dropdown-menu {
    @apply w-56 border-[5px] border-black bg-white p-5 rounded-2xl !important;
  }

  .login {
    @apply border-[5px] py-4 border-black bg-white text-black relative shadow-100 font-work-sans font-medium hover:shadow-none transition-all duration-500 !important;
  }

  /* startupcard */
  .startup-card {
    @apply bg-white border-[3px] border-black py-6 px-5 rounded-[22px] transition-all duration-300 hover:shadow-100 hover:bg-primary-100;
  }

  .startup-card_date {
    @apply font-medium text-[16px] bg-primary-100 px-4 py-2 rounded-full group-hover:bg-white-100;
  }

  .startup-card_desc {
    @apply text-xs tracking-wide line-clamp-2 text-cyan-950 mt-1 px-2 font-semibold leading-4;
  }

  .startup-card_img {
    @apply w-full h-[164px] rounded-[10px] object-cover;
  }

  .startup-card_btn {
    @apply rounded-full bg-black-200 font-medium text-[16px] text-white px-5 py-3 !important;
  }

  .startup-card_skeleton {
    @apply w-full h-96 rounded-[22px] bg-zinc-400;
  }

  /* startupform */
  .startup-form {
    @apply max-w-2xl mx-auto bg-white my-10 space-y-8 px-6 py-8;
  }

  .startup-form_label {
    @apply font-bold text-[18px] text-black uppercase;
  }

  .startup-form_input {
    @apply border-[3px] border-black px-5 py-7 text-[18px] text-black font-semibold rounded-2xl mt-3 placeholder:text-black-300 !important;
  }

  .startup-form_select {
    @apply bg-white border-[3px] border-black px-5 py-7 text-[18px] text-black font-semibold rounded-2xl mt-3 placeholder:text-black-300 !important;
  }

  .startup-form_textarea {
    @apply border-[3px] border-black p-5 text-[18px] text-black font-semibold rounded-[20px] mt-3 placeholder:text-black-300 !important;
  }

  .startup-form_error {
    @apply text-red-500 mt-2 ml-5;
  }

  .startup-form_editor {
    @apply mt-3 border-[3px] border-black text-[18px] text-black font-semibold placeholder:text-black-300 !important;
  }

  .startup-form_btn {
    @apply bg-black/90 text-white border-[2px] border-black rounded-full p-5 min-h-[4rem] w-full font-semibold tracking-wide text-[1.5rem] !important;
  }

  /* ---------------------------------------------------------------- */
  .contact-form {
    @apply w-full mx-4 md:w-[36rem] md:max-w-xl md:ml-4 md:mx-auto bg-zinc-200/70 border-[3px] border-black rounded-xl mt-12 space-y-6 px-4 py-10 shadow-lg shadow-black;
  }

  .contact-form_label {
    @apply font-bold text-[18px] text-black uppercase;
  }

  .contact-form_input {
    @apply max-w-[35rem] w-full border-[2px] border-black px-5 py-4 text-[18px] text-black font-semibold rounded-lg mt-1 placeholder:text-black-300 !important;
  }

  .contact-form_select {
    @apply bg-white border-[3px] border-black px-5 py-7 text-[18px] text-black font-semibold rounded-2xl mt-3 placeholder:text-black-300 !important;
  }

  .contact-form_textarea {
    @apply w-full border-[2px] border-black p-5 text-[18px] text-black font-semibold rounded-[20px] my-2 placeholder:text-black-300 !important;
  }

  .contact-form_error {
    @apply text-red-500 mt-2 ml-5;
  }

  .contact-form_editor {
    @apply mt-3 border-[3px] border-black text-[18px] text-black font-semibold placeholder:text-black-300 !important;
  }

  .contact-form_btn {
    @apply bg-black/90 text-white border-[2px] border-black rounded-2xl my-6 p-5 min-h-[4rem] w-full font-semibold tracking-wide text-[1.5rem] !important;
  }

  /* view */
  .view-container {
    @apply flex justify-end items-center mt-5 fixed bottom-3 right-3;
  }

  .view-text {
    @apply font-medium text-[16px] bg-primary-100 px-4 py-2 rounded-lg capitalize;
  }

  .category-tag {
    @apply font-medium text-[16px] bg-primary-100 px-4 py-2 rounded-full;
  }

  .tag-tri {
    @apply before:content-[''] before:absolute before:top-2 before:left-2 before:border-t-[10px] before:border-t-black before:border-r-[10px] before:border-r-transparent after:content-[''] after:absolute after:bottom-2 after:right-2 after:border-b-[10px] after:border-b-black after:border-l-[10px] after:border-l-transparent;
  }
}

.w-md-editor-toolbar {
  padding: 10px !important;
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
